.menu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 350px;
    overflow: hidden;
    background-color: #000033;
    }

.menu li {
    float: left;
    }

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #e60000;
}